# Gradle
.gradle/
/build
/modules/*/build
/buildSrc/build

# Eclipse
/bin
/.project
/.classpath
/.settings
/modules/*/bin
/modules/*/.project
/modules/*/.classpath
/modules/*/.settings

# IDEA
/.idea
/modules/*/out

# VSCode
/.vscode

# emacs
*~
.#*
\#*#

/distribution/dist
/distribution/dist_temp
/distribution/tsurugi-webapp-*
/test_work/e2e/fs/dl/*
/test_work/tmp
/test_work/storage/
/test_work/storage/tsurugi
/test_work/storage/belayer_jobs.json
/webapi/test_tmp/belayer_jobs.json
/webapi/test_tmp/test_user/
