[Unit]
Description=Tsurugi WebApp

[Service]
Type=simple
Environment=TSURUGI_HOME=/usr/lib/tsurugi
ExecStart=/usr/lib/tsurugi-webapp-#VERSION#/bin/start_server.sh
Restart=no

[Install]
WantedBy=multi-user.target